/** @format */

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: white;
}
body {
  height: 100%;
}
.container {
  display: flex;
  justify-content: space-around;
  background-color: #a66cff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  padding: 1rem;
}
.items {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
}
.item:hover {
  color: azure;
  cursor: pointer;
}
.baner {
  display: flex;
}
.baner-img {
  flex: 0.5;
}
.img-1 {
  width: 100%;
}
.intro {
  flex: 0.4;
  padding: 2rem;
  font-weight: 100;
  /* text-align: center; */
  padding-top: 4rem;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}
.projects {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}
.card-container {
  margin: 1rem;
  padding: 2rem 0.5rem;
  width: 40%;
  box-shadow: inset;
  border: 1px solid #a66cff;
}
.project-name {
  text-align: center;
  margin-bottom: 2rem;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #a66cff;
}
button:hover {
  color: #ffffff;
  background-color: #9c9efe;
  cursor: pointer;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
}
/* #A66CFF */
footer {
  /* bottom: 0; */
  background-color: #a66cff;
  padding: 1rem 0rem;
}
footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  color: #ffffff;
}
.social:hover {
  color: black;
  cursor: pointer;
}

.blogs {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}
.blog {
  padding: 1rem 3rem;
  border: 1px solid #a66cff;
  width: 40%;
  margin-bottom: 1rem;
}
.blog-header {
  font-size: larger;
  padding: 1rem;
  text-align: center;
}
.content {
  padding: 1rem;
}
.read-more-button {
  float: right;
}
.detail-blog {
  margin: 2rem;
}
@media screen and (max-width: 600px) {
  .container {
    display: block;
  }
  .nav-right {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .img-1 {
    width: 100%;
  }
  .intro {
    margin: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .baner {
    display: block;
  }
  .projects {
    display: block;
  }
  .card-container {
    width: auto;
  }
  .blogs {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .blog {
    width: 70%;
    margin-bottom: 4rem;
  }
}
